<h3>About</h3>
<p>Sports Scrape scrapes websites of your choice every ten minutes for select key words related to player injuries.  Sports Scrape collects a list of links from the websites of your choice, and search through the titles of those links for the keywords that are currently being scanned for (they are listed on the left side of the home page).  Below those words are the websites that are being scraped.  And last in that column is where users can alter their preferences.</p>

<h3>Preferences</h3>
<p>On the preferences page, users can add a word that they would like to search for.  They can add specific websites to scrape, add sports packages (explained below) and add Twitter users to follow.</p>

<h3>Packages</h3>
<p>When users select a sports package, there are multiple resources added automatically that Sports Scrape automatically scrapes.  They are listed below.</p>

<div class='row'>
  <div class='col-md-2'>
    <h5>Football</h5>
    <a href='http://www.nfl.com/news'>http://www.nfl.com/news</a>
    <a href='http://espn.go.com/nfl'>http://espn.go.com/nfl</a>
    <a href='https://twitter.com/ESPNNFL'>ESPNNFL</a><br>
    <a href='https://twitter.com/NFL'>NFL</a><br>
    <a href='https://twitter.com/AdamSchefter'>AdamSchefter</a>
  </div>
  <div class='col-md-2'>
    <h5>Basketball</h5>
    <a href='http://www.nba.com/news'>http://www.nba.com/news</a>
    <a href='http://espn.go.com/nba'>http://espn.go.com/nba</a>
    <a href='https://twitter.com/ESPNNBA'>ESPNNBA</a><br>
    <a href='https://twitter.com/NBA'>NBA</a><br>
    <a href='https://twitter.com/WojYahooNBA'>WojYahooNBA</a>
  </div>
  <div class='col-md-2'>
    <h5>Baseball</h5>
    <a href='http://m.mlb.com/news'>http://m.mlb.com/news</a>
    <a href='http://espn.go.com/mlb'>http://espn.go.com/mlb</a>
    <a href='https://twitter.com/MLB'>MLB</a><br>
    <a href='https://twitter.com/Buster_ESPN'>Buster_ESPN</a>
  </div>
  <div class='col-md-3'>
    <h5>Hockey</h5>
    <a href='http://espn.go.com/nhl'>http://espn.go.com/nhl</a>
    <a href='http://www.nhl.com/ice/newsindex'>http://www.nhl.com/ice/newsindex</a><br>
    <a href='https://twitter.com/NHL'>NHL</a><br>
    <a href='https://twitter.com/TSNBobMcKenzie'>TSNBobMcKenzie</a>
  </div>
  <div class='col-md-2'>
    <h5>Soccer</h5>
    <a href='http://www.mlssoccer.com/news'>http://www.mlssoccer.com/news</a>
    <a href='http://www.espnfc.us'>http://www.espnfc.us</a><br>
    <a href='https://twitter.com/MLS'>Mls</a><br>
    <a href='https://twitter.com/MLSAnalyst'>MLSAnalyst</a>

  </div>

</div>
